/* font styles and common share styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
  *{
    font-family: 'Work Sans', sans-serif;
    }
   .btn-primary{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    background: #FF900E;
    border:0;
    cursor: pointer;
   }
   .lightgray-color{
  
    color: #727272;
   }



  
  /* nav styles starts here  */
  header{
    background: rgba(255, 144, 14, 0.10);
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 130px;
  }
  nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
  }
  nav ul li a{
    text-decoration: none;
    color: var(--dark-02, #424242);
    font-size: 1.2rem;
    font-weight: 500;
    }
  .section-title{
    color: #131313;
    font-family: Work Sans;
    font-size: 2.4rem;
    font-weight: 700;
  }


  /* banner styles start here  */
.banner{
  padding: 30px 130px  ;
}
.banner img{
  width: 100%;
}
.banner-info{
  width: 55%;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  font-size: 3rem;
}
.info-description{
  margin: 20px;
  font-size: 0.9rem;
}





main{
  max-width: 1400px;
  margin: 100px 130px;
  /* background-color: aquamarine; */
}
/* team work section styles starts from here  */
.team-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem
}
.team-container > div{
  width:50% ;
}
.team-pic-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.team-pic-container img{
  width: 100%;
}
.team-info-container{
  width: 80%;
}
.team-info-description{
  margin-right: 20px;
  font-size: 0.9rem;
}














/* media query starts here for responsive layout */

/* for mobile device  */
@media screen and (max-width:576px) {
  /* header  */
  nav{
    flex-direction: column;
    padding: 0;
  }
  .banner{
    padding: 0 0;
  }
  .banner-info{
    width: 100%;
  }
/* team work */
.team-container{
  flex-direction: column-reverse;
}
.team-info-container {
  text-align: center;
 width: 100%;
}
.team-container > div {
  width: 100%;
}
main{
  max-width: 100%;
  margin: 100px 0;

}
}


/* for medium device  */
@media screen and (min-width:576px) and (max-width:960px) {
  nav{
    flex-direction: column;
    padding: 0;
  }
  .banner{
    padding: 0 50px;
  }
  .banner-info{
    width: 100%;
  }

  /* team work */
.team-container{
  flex-direction: column-reverse;
}
.team-info-container {
  text-align: center;
 width: 100%;
}
.team-container > div {
  width: 100%;
}
main{
  max-width: 100%;
  margin: 100px 50px;

}

}